{% extends 'backend/_base_other.html' %}
{% load static backend_tags %}

{% block head_title %}
    Shop - Modul-Lux Site
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'backend:shop' %}">SHOP</a>
    </li>
{% endblock %}

{% block main %}
    <!-- Page Content / start-->
    <div class="page-content p-t-50 p-b-80">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <div class="categories-widget m-b-50">
                        <h3 class="title text-block text-black text-sm m-b-15">Categories</h3>
                        <ul class="vertical-list">
                            {% for category in categories %}
                            <li>
                                <a href="{% url 'backend:shop-products' category.id %}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if options.filter|has_values %}
                        <div class="filter-widget">
                            <h3 class="title text-block text-black text-sm m-b-25">Filter</h3>
                            {% if options.filter.price %}
                                <div class="filter-block filter-price">
                                <div class="filter-title" data-toggle="collapse" data-target="#price">
                                    <span class="text-block">Price</span>
                                    <span class="icon-plus"></span>
                                </div>
                                <div class="filter-content collapse in" id="price">
                                    <div class="filter-price-bar">
                                        <div class="bar-not-fill noUi-target noUi-ltr noUi-horizontal" id="pricepicker">
                                            <div class="noUi-base">
                                                <div class="noUi-origin" style="left: 5%;">
                                                    <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0"
                                                         role="slider" aria-orientation="horizontal" aria-valuemin="0.0"
                                                         aria-valuemax="20.0" aria-valuenow="5.0" aria-valuetext="50.00"
                                                         style="z-index: 5;"></div>
                                                </div>
                                                <div class="noUi-connect" style="left: 5%; right: 80%;"></div>
                                                <div class="noUi-origin" style="left: 20%;">
                                                    <div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0"
                                                         role="slider" aria-orientation="horizontal" aria-valuemin="5.0"
                                                         aria-valuemax="100.0" aria-valuenow="20.0" aria-valuetext="200.00"
                                                         style="z-index: 6;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="price-range">
                                        <span>Range:</span>
                                        <span id="lower-value">$50.00</span>
                                        <span>-</span>
                                        <span id="upper-value">$200.00</span>
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            {% if options.filter.color %}
                                <div class="filter-block filter-color">
                                <div class="filter-title" data-toggle="collapse" data-target="#color">
                                    <span class="text-block">Color</span>
                                    <span class="icon-plus"></span>
                                </div>
                                <div class="filter-content collapse in" id="color">
                                    <ul class="colors">
                                        <li class="color1" data-toggle="tooltip" title="" data-original-title="Orange">
                                            <input type="checkbox" name="color1" id="color1">
                                            <label for="color1"></label>
                                        </li>
                                        <li class="color2" data-toggle="tooltip" title="" data-original-title="Yellow">
                                            <input type="checkbox" name="color2" id="color2">
                                            <label for="color2"></label>
                                        </li>
                                        <li class="color3" data-toggle="tooltip" title="" data-original-title="Teal">
                                            <input type="checkbox" name="color3" id="color3">
                                            <label for="color3"></label>
                                        </li>
                                        <li class="color4" data-toggle="tooltip" title="" data-original-title="Brown Dark">
                                            <input type="checkbox" name="color4" id="color4">
                                            <label for="color4"></label>
                                        </li>
                                        <li class="color5" data-toggle="tooltip" title="" data-original-title="Brown Light">
                                            <input type="checkbox" name="color5" id="color5">
                                            <label for="color5"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            {% if options.filter.brand %}
                                <div class="filter-block filter-brands">
                                <div class="filter-title" data-toggle="collapse" data-target="#brand">
                                    <span class="text-block">Brands</span>
                                    <span class="icon-plus"></span>
                                </div>
                                <div class="filter-content collapse in" id="brand">
                                    <ul class="brands vertical-list">
                                        <li>
                                            <input type="checkbox" name="color1" id="brand1">
                                            <label for="brand1">Ben de Lisi Home</label>
                                            <span class="quantity">36</span>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="color2" id="brand2">
                                            <label for="brand2">RJR.John Rocha</label>
                                            <span class="quantity">05</span>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="color3" id="brand3">
                                            <label for="brand3">Home Collection</label>
                                            <span class="quantity">27</span>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="color4" id="brand4">
                                            <label for="brand4">Willis &amp; Gambier</label>
                                            <span class="quantity">13</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </aside>
                <article class="content-area col-md-9">
                    <div class="shop-toolbar m-b-15">
                        <div class="row">
                            <div class="col-md-8 col-xs-6 toolbar-left">
                                {% if options.sort %}
                                    <ul class="woocommerce-ordering">
                                    <li class="label">Sort By:</li>
                                    <li class="current">
                                        <span>Default sorting</span>
                                        <ul>
                                            <li>
                                                <a class="active" href="#">Default</a>
                                            </li>
                                            <li>
                                                <a href="#">Popularity</a>
                                            </li>
                                            <li>
                                                <a href="#">Average rating</a>
                                            </li>
                                            <li>
                                                <a href="#">Newness</a>
                                            </li>
                                            <li>
                                                <a href="#">Price: low to high</a>
                                            </li>
                                            <li>
                                                <a href="#">Price: high to low</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                {% endif %}
                            </div>

                            <div class="col-md-4 col-xs-6 toolbar-right">
                                <a class="grid-view fa fa-th-large current" href="#" data-view="grid"
                                   data-toggle="tooltip" title="" data-original-title="Grid view"></a>
                                <a class="list-view fa fa-th-list" href="#" data-view="list" data-toggle="tooltip"
                                   title="" data-original-title="List view"></a>
                                {% if options.pagination %}
                                <span class="found">Showing 1 to 12 of 14 total</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="shop-content">
                        {% block shop_elements %}
                        {% endblock %}
                        {% if options.pagination %}
                        <div class="shop-page-paginations text-center">
                            <ul class="paginations">
                                <li class="item active">
                                    <a href="#">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li class="next">
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- Page Content / end-->
{% endblock %}
