{% extends 'backend/_base.html' %}
{% load static %}

{% block header %}
    <!-- header / start-->
    <header>
        <!-- Header Desktop-->
        <div class="section section-header section-header-1 pos-absolute bg-white hidden-tablet-landscape js-header"
             data-scroll-offset="300">
            <div class="container">
                <div class="header-main block-contain">
                    <div class="block-left">
                        <div class="logo">
                            <a href="{% url 'backend:index' %}">
                                <img src="{% static 'backend/images/icons/ic-logo-02.png' %}" alt="Mina">
                            </a>
                        </div>
                    </div>
                    <div class="header-navbar navbar-dropdow-dark hidden-tablet-landscape js-header-style">
                        <div class="navbar-wrap">
                            <nav class="navbar-horizontal">
                                <ul class="navbar-menu">
                                    <li>
                                        <a href="{% url 'backend:index' %}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'backend:shop' %}">Shop</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'backend:about' %}">About</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'backend:contact' %}">Contact</a>
                                    </li>
                                    {% if options.login %}
                                        <li>
                                            <a class="js-login-modal" data-remodal-target="loginModal">Login/Create</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="block-right">
                        {% if options.cart %}
                            <div class="mini-cart">
                            <button class="js-btn-cart btn-cart" data-toggle="tooltip" title=""
                                    data-original-title="Shopping cart">
                                <span class="totals">3</span>
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <div class="mini-shopcart">
                                <div class="content-mini-shopcart">
                                    <div class="item-mini-shopcart">
                                        <div class="item-image">
                                            <a href="product-details.html">
                                                <img src="{% static 'backend/images/add-to-cart-01.jpg' %}" alt="shopping cart">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h3 class="name">
                                                <a href="product-details.html">Yellow chairs</a>
                                            </h3>
                                            <p class="price">1 x $80.00</p>
                                        </div>
                                    </div>
                                    <div class="item-mini-shopcart">
                                        <div class="item-image">
                                            <a href="product-details.html">
                                                <img src="{% static 'backend/images/add-to-cart-02.jpg' %}" alt="shopping cart">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h3 class="name">
                                                <a href="product-details.html">Handmade bag</a>
                                            </h3>
                                            <p class="price">2 x $30.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="foot-mini-shopcart">
                                    <div class="mini-shopcart-action">
                                        <a class="au-btn btn-viewcart" href="#">View cart</a>
                                        <a class="au-btn btn-checkout" href="#">Check out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if options.search %}
                            <div class="search-box">
                            <button class="js-btn-search fa fa-search" data-toggle="tooltip" title=""
                                    data-original-title="Search"></button>
                            <div class="input-holder animated">
                                <input type="text" placeholder="Search...">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="blank-bar p-b-100 hidden-tablet-landscape"></div>
        <!-- Header Mobile-->
        <div class="section section-header section-header-mobile section-header-mobile-1 hidden-tablet-landscape-up">
            <div class="header-main block-contain">
                <div class="block-left">
                    <div class="logo">
                        <a href="{% url 'backend:index' %}">
                            <img src="{% static 'backend/images/icons/ic-logo-02.png' %}" alt="Mina">
                        </a>
                    </div>
                </div>
                <div class="block-right">
                    <button class="js-toggle-navbar-mobile hamburger hamburger--elastic">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="header-navbar-mobile">
                <nav class="navbar-mobile js-navbar">
                    <ul class="navbar-menu">
                        <li>
                            <a href="{% url 'backend:index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'backend:shop' %}">Shop</a>
                        </li>
                        <li>
                            <a href="{% url 'backend:about' %}">About</a>
                        </li>
                        <li>
                            <a href="{% url 'backend:contact' %}">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- header / end-->
{% endblock %}

{% block heading_page %}
    <!-- heading page / .start-->
    <div class="heading-page bg-cover"
         style="background: url({% static 'backend/images/bg-heading-page-01.jpg' %}) center center no-repeat;">
        <div class="container">
            <ul class="breadcrumbs">
                {% block breadcrumbs %}
                    <li>
                        <a href="{% url 'backend:index' %}">HOME</a>
                    </li>
                {% endblock %}
            </ul>
        </div>
    </div>
    <!-- Heading page / . end-->
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
    <!-- footer / .start-->
    <footer class="footer bg-black p-t-50">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <h3 class="title">About us</h3>
                    <p class="textbox">Phasellus posuere vehicula sem sitdapibus. Pellentesque malesuada diam s</p>
                    {% include 'backend/includes/social_include.html' %}
                    <a class="text-inline" href="#">
                        <img src="{% static 'backend/images/icons/ic-norton.png' %}" data-toggle="tooltip"
                             title="Norton Safe" alt="norton">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <h3 class="title">Customer Service</h3>
                    <ul class="vertical-list block-list">
                        <li>
                            <a href="#">Shipping & Returns</a>
                        </li>
                        {% if options.login %}
                        <li>
                            <a href="#">My account</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#">Product warranty</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4">
                    <h3 class="title">Contact us</h3>
                    <ul class="vertical-list block-list contacts">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>{{ site_settings.phone }}</span>
                        </li>
                        <li>
                            <i class="fa fa-send"></i>
                            <span>{{ site_settings.email }}</span>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>{{ site_settings.address }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12">
                    {% if options.social_images %}
                    <h3 class="title">We’re on instagram</h3>
                    <ul class="horizontal-list instarfeeds">
                        <li>
                            <a href="https://www.instagram.com/p/BXULI9ugQQb/" target="_blank">
                                <img src="{% static 'backend/images/instafeed-01.jpg' %}" alt="instafeed">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/BXUL7hsAywO/" target="_blank">
                                <img src="{% static 'backend/images/instafeed-02.jpg' %}" alt="instafeed">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/BXUL-l_gxDG/" target="_blank">
                                <img src="{% static 'backend/images/instafeed-03.jpg' %}" alt="instafeed">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/BXUMA3qgRTg/" target="_blank">
                                <img src="{% static 'backend/images/instafeed-04.jpg' %}" alt="instafeed">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/BXUMCWGA3HP/" target="_blank">
                                <img src="{% static 'backend/images/instafeed-05.jpg' %}" alt="instafeed">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/BXUMD03A3Ix/" target="_blank">
                                <img src="{% static 'backend/images/instafeed-06.jpg' %}" alt="instafeed">
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bot-bar">
            <div class="container">
                <div class="block-contain">
                    <div class="block-left">
                        <ul class="horizontal-list quicklinks">
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Cookie Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-right">
                        {% include 'backend/includes/payment_include.html' %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer / .end-->
{% endblock %}

{% block modal %}
    {% include 'backend/includes/modal_quickview_include.html' %}
{% endblock %}


