{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <title>
            {% block head_title %}
                {{ site_settings.name_site }}
            {% endblock %}
        </title>

        {% block head_meta %}
            <!--Basic Page Needs-->
            <meta charset="UTF-8">
            <meta name="description" content="Modul-Lux theme tempalte">
            <meta name="author" content="Modul-Lux">
            <meta name="keywords" content="Modul-Lux theme template">

            <!--Mobile Specific Metas-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block head_styles %}
            <!--CSS-->
            <!-- all fonts for the theme-->
            <link href="{% static 'backend/css/theme-fonts.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
                  media="all">

            <!-- plugin style for the page-->
            <link href="{% static 'backend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/animate.css/animate.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/remodal/remodal.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/remodal/remodal-default-theme.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/revolution/css/layers.css' %}" rel="stylesheet">
            <link href="{% static 'backend/vendor/revolution/css/navigation.css' %}" rel="stylesheet">
            <link href="{% static 'backend/vendor/revolution/css/settings.css' %}" rel="stylesheet">

            <!-- style of the theme-->
            <link href="{% static 'backend/css/main.css' %}" rel="stylesheet" media="all">

            <!--Favicons-->
            <link rel="shortcut icon" href="favicon.png">
            <link rel="apple-touch-icon" href="apple-icon.png">
            <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
        {% endblock %}

        {% block head_scripts %}
            <!-- modernizr-->
            <script src="{% static 'backend/js/modernizr-custom.js' %}"></script>
        {% endblock %}

    {% endblock %}
</head>

<body>
    <div class="animsition">
        <div id="app">
            {% block body %}
                {% block header %}
                {% endblock %}

                {% block heading_page %}
                {% endblock %}

                {% block slide %}
                {% endblock %}

                {% block main %}
                {% endblock %}

                {% block footer %}
                {% endblock %}

                <!--Modal Window-->
                {% block modal %}
                    {% include 'backend/includes/modal_include.html' %}
                {% endblock %}

                <!--Login Window-->
                {% block login %}
                    {% if options.login %}
                        <div class="remodal" data-remodal-id="loginModal">
                            <div class="login-modal">
                                <button class="remodal-close" data-remodal-action="close" aria-label="Close"></button>
                                <div class="modal-tabs">
                                    <ul class="tabs">
                                        <li class="active">
                                            <a href="#create" data-toggle="tab">Create account</a>
                                        </li>
                                        <li>
                                            <a href="#sign" data-toggle="tab">Sign in</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane in active" id="create">
                                            <p class="text-block text-black m-b-5">You are using our secure server</p>
                                            <div class="icon-cert m-b-25">
                                                <img src="{% static 'backend/images/icons/ic-norton.png' %}" alt="notron"/>
                                            </div>
                                            <div class="row-cs">
                                                <div class="col-cs-6 form-group p-r-5">
                                                    <input class="au-input-1" type="text" placeholder="First name"/>
                                                </div>
                                                <div class="col-cs-6 form-group p-l-5">
                                                    <input class="au-input-1" type="text" placeholder="Last name"/>
                                                </div>
                                            </div>
                                            <div class="row-cs">
                                                <div class="col-cs-12 form-group">
                                                    <input class="au-input-1" type="text" placeholder="Your Email"/>
                                                </div>
                                                <div class="col-cs-12 form-group">
                                                    <input class="au-input-1" type="password" placeholder="Password"/>
                                                </div>
                                                <div class="col-cs-12 form-group input-checkbox m-b-25">
                                                    <input type="checkbox" id="ckcShip"/>
                                                    <label for="ckcShip">Sign up to get our exclusive offers</label>
                                                </div>
                                                <div class="col-cs-12 form-group">
                                                    <input class="au-btn btn-block" type="submit" value="Create account"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sign">
                                            <p class="text-block text-black m-b-5">You are using our secure server</p>
                                            <div class="icon-cert m-b-25">
                                                <img src="{% static 'backend/images/icons/ic-norton.png' %}" alt="notron"/>
                                            </div>
                                            <div class="row-cs">
                                                <div class="col-cs-12 form-group">
                                                    <input class="au-input-1" type="text" placeholder="Your Email"/>
                                                </div>
                                                <div class="col-cs-12 form-group">
                                                    <input class="au-input-1" type="password" placeholder="Password"/>
                                                </div>
                                                <div class="col-cs-12 form-group">
                                                    <input class="au-btn btn-block" type="submit" value="Sign in"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}

                <!--Javascripts-->
                {% block body_scripts_main %}
                    <!-- plugin javascripts for the page-->
                    <script src="{% static 'backend/vendor/jquery/jquery.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/jquery.nicescroll/jquery.nicescroll.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/jquery.easeScroll/jquery.easeScroll.js' %}"></script>
                    <script src="{% static 'backend/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/isotope/isotope.pkgd.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/matchHeight/jquery.matchHeight.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/noUiSlider/nouislider.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/chosen/chosen.jquery.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/jquery-accordion/jquery.accordion.js' %}"></script>
                    <script src="{% static 'backend/vendor/remodal/remodal.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/animsition/animsition.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
                    <script src="{% static 'backend/vendor/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

                    {# TODO #}
                    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

                {% endblock %}

                {% block body_scripts_extension %}
                    <!--Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading)-->
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
                    <script src="{% static 'backend/js/slide-custom.js' %}"></script>
                {% endblock %}

                {% block body_scripts_custom %}
                    <!-- javascripts for the theme-->
                    <script src="{% static 'backend/js/main.js' %}"></script>
                    <script src="{% static 'backend/js/project-view.js' %}"></script>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
</body>
</html>