{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <title>
            {% block head_title %}
                Modul-Lux Site
            {% endblock %}
        </title>

        {% block head_meta %}
            <!--Basic Page Needs-->
            <meta charset="UTF-8">
            <meta name="description" content="Modul-Lux theme tempalte">
            <meta name="author" content="Modul-Lux">
            <meta name="keywords" content="Modul-Lux theme template">

            <!--Mobile Specific Metas-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block head_link %}
            <!--CSS-->
            <!-- all fonts for the theme-->
            <link href="{% static 'backend/css/theme-fonts.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" media="all">

            <!-- plugin style for the page-->
            <link href="{% static 'backend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/animate.css/animate.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/remodal/remodal.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/remodal/remodal-default-theme.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
            <link href="{% static 'backend/vendor/revolution/css/layers.css' %}" rel="stylesheet">
            <link href="{% static 'backend/vendor/revolution/css/navigation.css' %}" rel="stylesheet">
            <link href="{% static 'backend/vendor/revolution/css/settings.css' %}" rel="stylesheet">

            <!-- style of the theme-->
            <link href="{% static 'backend/css/main.css' %}" rel="stylesheet" media="all">

            <!--Favicons-->
            <link rel="shortcut icon" href="favicon.png">
            <link rel="apple-touch-icon" href="apple-icon.png">
            <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
        {% endblock %}

        {% block head_script %}
        <!-- modernizr-->
        <script src="{% static 'backend/js/modernizr-custom.js' %}"></script>
        {% endblock %}

    {% endblock %}
</head>

<body>
    <div class="animsition">
    {% block body %}
        {% block header %}
        {% endblock %}

        {% block slide %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
        <!--Javascripts-->
        {% block body_script_main %}
            <!-- plugin javascripts for the page-->
            <script src="{% static 'backend/vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'backend/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'backend/vendor/jquery.nicescroll/jquery.nicescroll.min.js' %}"></script>
            <script src="{% static 'backend/vendor/jquery.easeScroll/jquery.easeScroll.js' %}"></script>
            <script src="{% static 'backend/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
            <script src="{% static 'backend/vendor/isotope/isotope.pkgd.min.js' %}"></script>
            <script src="{% static 'backend/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
            <script src="{% static 'backend/vendor/matchHeight/jquery.matchHeight.min.js' %}"></script>
            <script src="{% static 'backend/vendor/noUiSlider/nouislider.min.js' %}"></script>
            <script src="{% static 'backend/vendor/chosen/chosen.jquery.min.js' %}"></script>
            <script src="{% static 'backend/vendor/jquery-accordion/jquery.accordion.js' %}"></script>
            <script src="{% static 'backend/vendor/remodal/remodal.min.js' %}"></script>
            <script src="{% static 'backend/vendor/animsition/animsition.min.js' %}"></script>
            <script src="{% static 'backend/vendor/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
            <script src="{% static 'backend/vendor/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        {% endblock %}

        {% block body_script_extension %}
            <!--Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading)-->
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'backend/vendor/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
            <script src="{% static 'backend/js/slide-custom.js' %}"></script>
        {% endblock %}

        {% block body_script_custom %}
            <!-- javascripts for the theme-->
            <script src="{% static 'backend/js/main.js' %}"></script>
        {% endblock %}

        {% block modal %}
            {% if enable_options %}
                <div class="remodal" data-remodal-id="loginModal">
            <div class="login-modal">
                <button class="remodal-close" data-remodal-action="close" aria-label="Close"></button>
                <div class="modal-tabs">
                    <ul class="tabs">
                        <li class="active">
                            <a href="#create" data-toggle="tab">Create account</a>
                        </li>
                        <li>
                            <a href="#sign" data-toggle="tab">Sign in</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane in active" id="create">
                            <p class="text-block text-black m-b-5">You are using our secure server</p>
                            <div class="icon-cert m-b-25">
                                <img src="images/icons/ic-norton.png" alt="notron" />
                            </div>
                            <div class="row-cs">
                                <div class="col-cs-6 form-group p-r-5">
                                    <input class="au-input-1" type="text" placeholder="First name" />
                                </div>
                                <div class="col-cs-6 form-group p-l-5">
                                    <input class="au-input-1" type="text" placeholder="Last name" />
                                </div>
                            </div>
                            <div class="row-cs">
                                <div class="col-cs-12 form-group">
                                    <input class="au-input-1" type="text" placeholder="Your Email" />
                                </div>
                                <div class="col-cs-12 form-group">
                                    <input class="au-input-1" type="password" placeholder="Password" />
                                </div>
                                <div class="col-cs-12 form-group input-checkbox m-b-25">
                                    <input type="checkbox" id="ckcShip" />
                                    <label for="ckcShip">Sign up to get our exclusive offers</label>
                                </div>
                                <div class="col-cs-12 form-group">
                                    <input class="au-btn btn-block" type="submit" value="Create account" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sign">
                            <p class="text-block text-black m-b-5">You are using our secure server</p>
                            <div class="icon-cert m-b-25">
                                <img src="images/icons/ic-norton.png" alt="notron" />
                            </div>
                            <div class="row-cs">
                                <div class="col-cs-12 form-group">
                                    <input class="au-input-1" type="text" placeholder="Your Email" />
                                </div>
                                <div class="col-cs-12 form-group">
                                    <input class="au-input-1" type="password" placeholder="Password" />
                                </div>
                                <div class="col-cs-12 form-group">
                                    <input class="au-btn btn-block" type="submit" value="Sign in" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="quickview-modal single-product remodal" data-remodal-id="quickviewModal">
            <button class="remodal-close" data-remodal-action="close" aria-label="Close"></button>
            <div class="single-product-detail customScrollbar" data-scroll-cursorcolor="#b9b9b9"
                data-scroll-cursorwidth="3px">
                <div class="row-cs">
                    <div class="col-cs-6 product-image-content">
                        <div class="owl-carousel" data-carousel-items="1" data-carousel-nav="true" data-carousel-xs="1"
                            data-carousel-sm="1" data-carousel-md="1" data-carousel-lg="1" data-carousel-animateout="fadeOut"
                            data-carousel-animatein="fadeIn" data-carousel-autowidth="false">
                            <div class="image-box">
                                <img src="images/quickview-01.jpg" alt="product detail image" />
                            </div>
                            <div class="image-box">
                                <img src="images/quickview-02.jpg" alt="product detail image" />
                            </div>
                            <div class="image-box">
                                <img src="images/quickview-03.jpg" alt="product detail image" />
                            </div>
                        </div>
                    </div>
                    <div class="col-cs-6 product-summary">
                        <h3 class="product-title text-block m-b-10">
                            <a class="text-black" href="product-details.html">Orange wooden chair</a>
                        </h3>
                        <ul class="product-star-rating m-b-5">
                            <li class="color">
                                <a class="fa fa-star" href="#"></a>
                            </li>
                            <li class="color">
                                <a class="fa fa-star" href="#"></a>
                            </li>
                            <li class="color">
                                <a class="fa fa-star" href="#"></a>
                            </li>
                            <li class="color">
                                <a class="fa fa-star" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-star" href="#"></a>
                            </li>
                        </ul>
                        <span class="product-price m-b-15">$50.00</span>
                        <p class="product-short-description m-b-15">
                            Dimensions (HWD): 204 x 102 x 102cm This steel-framed hanging chair is finished in a
                            weather and water-resistant woven PU which mimics the look of dark brown
                        </p>
                        <div class="add-to-wishlist block-contain m-b-40">
                            <div class="block-left" data-toggle="tooltip" title="Add to wishlist">
                                <a href="wishlist-page-html">
                                    <i class="fa fa-heart"></i>
                                    <span>Add to wishlist</span>
                                </a>
                            </div>
                            <div class="block-right" data-toggle="tooltip" title="View full details">
                                <a href="product-details.html">
                                    <i class="fa fa-arrow-right"></i>
                                    <span>View full details</span>
                                </a>
                            </div>
                        </div>
                        <div class="product-select row-cs m-b-20">
                            <div class="col-cs-6 p-r-5" data-toggle="tooltip" title="Color">
                                <div class="color-select">
                                    <select class="au-select chosen-select no-search">
                                        <option value="1">Red</option>
                                        <option value="2">Green</option>
                                        <option value="3">Orange</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-cs-6 p-l-5" data-toggle="tooltip" title="Quantity">
                                <div class="quantity">
                                    <span class="decrease"></span>
                                    <input class="au-input-number" type="number" value="1" min="1" max="100" />
                                    <span class="increase"></span>
                                </div>
                            </div>
                        </div>
                        <a class="au-btn add-to-cart btn-block m-b-30" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endblock %}
    {% endblock %}
    </div>
</body>
</html>