{% extends 'backend/_base_other.html' %}

{% block head_title %}
    About - Modul-Lux Site
{% endblock %}

{% block main %}
    <!-- section article about us / start-->
    <article class="section about-post bg-white p-t-90 p-b-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-post-image">
                        <img class="img-responsive" src="images/about-01.jpg" alt="About">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-post-content">
                        <h3 class="text-block text-black text-med text-bold">Our Story</h3>
                        <p class="text-block">
                            Since 1989. Much more than a piece of furniture! Nunc enim lorem, convallis sed blandit
                            eu, ornare sed ligula. Etiam placerat posuere metus sit amet ultricies. Pellentesque
                            consectetur diam non felis dictum, eu convallis velit blandit. Donec quis tellus
                            scelerisque arcu tempor tristique. Pellentesque blandit ligula luctus lacinia vulputate
                            mauris ligula, placerat ut rhoncus ac, tincidunt in neque. Vestibulum aliquet ligula
                            turpis, sed tincidunt nulla placerat in.
                        </p>
                        <p class="text-block">
                            Maecenas sit amet metus ac augue gravida blandit non ac nisi. Curabitur blandit eros
                            dui, ac malesuada enim condimentum ut. Etiam placerat posuere metus sit amet ultricies.
                            Pellentesque consectetur diam non felis dictum, eu convallis.
                        </p>
                        <p class="text-block">
                            Etiam placerat posuere metus sit amet ultricies. Pellentesque consectetur diam non
                            felis dictum, eu convallis velit blandit posuere metus sit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- section article about us / end-->

    <!-- section call to action / start-->
    <section class="call-to-action-3 section p-t-145 p-b-170 parallax" data-background="images/call-to-action-03.jpg"
             data-img-width="1900" data-img-height="1240">
        <div class="bg-overlay"></div>
        <div class="container-fluid">
            <p class="text-block text-center text-med m-b-0">Everyproduct is Made</p>
            <p class="text-block text-center text-large-sm m-b-0">With all Our Heart</p>
        </div>
    </section>
    <!-- section call to action / end-->

    <!-- section contact / start-->
    <section class="section contact-1 p-t-100 p-b-100 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="textbox m-b-50">
                        <h3 class="text-block text-black text-sm text-bold m-b-20">Store Hours</h3>
                        <p class="text-block">Monday-Saturday 11am–7pm</p>
                        <p class="text-block">Sunday 11am–6pm</p>
                        <p class="text-block">54 address name, New York City</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="textbox m-b-50">
                        <h3 class="text-block text-black text-sm text-bold m-b-20">Customer support</h3>
                        <p class="text-block">(+04) 198-776</p>
                        <p class="text-block">Contact@yoursite.com</p>
                        <p class="text-block">Monday-Saturday 11am–7pm</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="textbox m-b-50">
                        <h3 class="text-block text-black text-sm text-bold m-b-20">Online services</h3>
                        <p class="text-block">154 address name, New York City</p>
                        <p class="text-block">+04) 198-776</p>
                        <p class="text-block">Contact@yoursite.com</p>
                    </div>
                </div>
            </div>
            <p class="text-block">
                Etiam placerat posuere metus sit amet ultricies. Pellentesque consectetur diam non felis dictum, eu
                convallis velit blandit donec quis tellus sceleris. Maecenas sit amet metus ac augue gravida
                blandit non ac nisi. Curabitur blandit eros dui, ac malesuada
                enim condimentum ut. Etiam laoreet luctus feugiat aliquam et blandit nisi etiam at hendrerit. Orci
                varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras porta
                suscipit metus sed interdum.
            </p>
        </div>
    </section>
    <!-- section contact / end-->
{% endblock %}


