{% extends 'backend/_base_other.html' %}
{% load static %}

{% block head_title %}
    Contact:{{ site_settings.name_site }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'backend:contact' %}">CONTACT</a>
    </li>
{% endblock %}

{% block main %}
    <!-- page content / start-->
    <article class="page-content contact-us p-b-100 p-t-70">
            <div class="container">
                <div class="section-contact row m-b-30">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="textbox m-b-20">
                                    <h3 class="text-block text-black text-sm text-bold m-b-20">Store Hours</h3>
                                    <p class="text-block">{{ site_settings.phone }}</p>
                                    <p class="text-block">{{ site_settings.work_hours }}</p>
                                    <p class="text-block">{{ site_settings.address }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="textbox m-b-20">
                                    <h3 class="text-block text-black text-sm text-bold m-b-20">Customer support</h3>
                                    <p class="text-block">{{ site_settings.support.phone }}</p>
                                    <p class="text-block">{{ site_settings.support.email }}</p>
                                </div>
                            </div>
                        </div>
                        <p class="text-block m-b-20">
                            Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus. Nulla vulputate, lectus vel volutpat efficitur, orci lacus sodales sem, at interdum quam ligula sit amet quam.
                        </p>
                        <p class="text-block m-b-20">
                            Ut ante leo, interdum at ante eget, accumsan viverra nibh. Vestibulum eu nunc vulputate, lacinia risus non, elementum odio. Quisque luctus efficitur ipsum, sit amet viverra mauris pretium in. Aenean purus dui, venenatis nec nisl vitae, rhoncus lobortis
                            purus. Pellentesque mollis, diam et auctor vestibulum, orci nisl bibendum quam, id imperdiet tortor ligula eu ipsum. Integer sollicitudin lorem.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="messages" id="status"></div>
                        <form class="contact-form" method="post" action="{% url 'client:message' %}" name="contact" id="contact-form" role="form" data-toggle="validator">
                            {% csrf_token %}
                            <div class="row-cs">
                                <div class="col-cs-6 form-group p-r-5">
                                    <p class="help-block with-errors">*</p>
                                    <input class="au-input-1" type="text" placeholder="Name" id="name" name="name" required data-error="Name is required.">
                                </div>
                                <div class="col-cs-6 form-group p-l-5">
                                    <p class="help-block with-errors">*</p>
                                    <input class="au-input-1" type="email" placeholder="Email" id="email" name="email" required data-error="Valid email is required.">
                                </div>
                            </div>
                            <div class="row-cs">
                                <div class="col-cs-12 form-group">
                                    <p class="help-block with-errors">*</p>
                                    <textarea class="au-textarea" placeholder="Your Messages" style="height: 180px;" id="msg" name="msg" required data-error="Please, leave us a message."></textarea>
                                </div>
                            </div>
                            <div class="row-cs">
                                <div class="col-cs-12 form-group text-center">
                                    <input class="au-btn" type="submit" id="contactBtn" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% if options.contact_map %}
                <div class="section-map">
                    <div class="contact-map" id="google_map" data-map-x="37.3863866" data-map-y="-122.0576091" data-pin="images/icons/ic-location.png" data-scrollwhell="0" data-draggable="1"></div>
                </div>
                {% endif %}
            </div>
        </article>
    <!-- page content / end-->
{% endblock %}
